body {
	background: url(../src/Phantom.jpg) no-repeat center center fixed;
	background-size : cover;
	background-color : #E90101;
}

p {
	color : white;
	text-align: center;
	font-size : 20px;
	font-family : Arial;
}

div {
	display : block;
	background-color : black;
	padding-top : 10px;
	padding-bottom : 10px;
}

h1 {
	color : lightgrey;
	text-align : center;
}

.center{
	margin : auto;
	width : 50%;
}

.centerize {
    display: block;
    margin: 0 auto;
    text-align: center;
}
